* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #ffffff;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* common */

.container {
    width: 1170px;
    margin: 0 auto;
}

.label {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;

    color: #767e7e;
}

.section__heading {
    margin: 18px 0;

    width: 577px;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33;

    color: #0d1111;
}

.section__desc {
    font-size: 1.8rem;
    font-weight: 400;
    color: #767e7e;
}

.btn {
    width: 186px;
    height: 68px;
    border-radius: 14px;
    background: #1ebfc1;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
    border-color: transparent;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
}

.heading {
    color: #0d1111;
    font-weight: 700;
}

.heading.lv1 {
    font-size: 6.2rem;
    line-height: 1.16;
}

/* .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: nowrap;
} */

/* =====  header fixed ===== */
.header.fixed {
    /* position: sticky; */
    position: relative;
    margin-top: 52px;
    width: 100%;
    z-index: 1;
}

.header .content {
    display: flex;
    width: 1170px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
}
.header .content .nav {
    display: flex;
    gap: 20px;
    align-items: center;
}
.header .content .nav a {
    display: inline-block;
    text-align: center;
    min-width: 74px;
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
}

.header .nav li:hover a {
    font-weight: 600;
    color: #2f3a3b;
    cursor: pointer;
}

.header .content .active-btn {
    display: flex;
}

.header .content .active-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 108px;
    height: 48px;

    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;

    border-radius: 6px;
    border: 1px solid transparent;
    color: #494949;
}

.header .content .active-btn a:hover {
    color: #1ebfc1;
    border-color: #1ebfc1;
    font-weight: 600;
}

/* =====  hero ===== */
.hero {
    position: relative;
    padding-top: 62px;
    padding-bottom: 79px;
}

.hero__media {
    position: relative;
}

.hero .content {
    width: 1170px;
    margin: 0 auto;
}
.hero .content .body {
    display: flex;
    align-items: center;
}

.hero .block-left .badge {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
}

.hero .block-left .heading {
    margin-top: 18px;
}
.hero .block-left .desc-left {
    width: 374px;
    margin-top: 46px;
    color: #9da6a5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
}
.block-left .active {
    display: flex;
    margin-top: 52px;
}

.block-left .active .btn-hero {
    margin-right: 50px;
}

.block-left .active .btn-play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border-radius: 62px;
    background: #fff;
    box-shadow: 0 22px 50px 0 rgba(0, 0, 0, 0.05);
}

.block-left .active .btn-play .play {
    width: 14px;
    height: 18px;
}

.body .block-right {
    position: relative;
}

.body .block-right .images {
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.body .block-right .info-courses {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 149px;
    left: -40px;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}

.block-right .info-courses .icon {
    position: relative;
    width: 36px;
    height: 40px;
    margin-right: 16px;
}

.block-right .info-courses .icon::after {
    position: absolute;
    top: 28px;
    right: 4px;
    bottom: 8px;
    left: 4px;
    content: "";
    display: inline-block;
    width: 28px;
    height: 4px;
    background: #fff;
    border-radius: 12px;
}

.block-right .info-courses .desc-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.block-right .info-courses .desc-info p {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.block-right .schedules {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 14px;
    top: 453px;
    right: 517px;
    bottom: 46px;
    left: -65px;
    width: 124px;
    height: 132px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}

.block-right .schedules p {
    margin-top: 16px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.block-right .student {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 500px;
    right: 45px;
    bottom: 41px;
    left: 324px;
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0 12px 80px 0 rgba(0, 0, 0, 0.05);
}

.block-right .student .student-active {
    margin: 17px auto 0 35px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.block-right .student .avatar-list {
    display: flex;
    margin: 8px auto 17px 35px;
}

.block-right .student .avatar {
    margin-left: -10px;
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #fff;
}

.block-right .student .avatar:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 50%;

    color: #fff;

    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    background: #1ebfc1;
}

/* feature */

.feature {
    margin-top: 130px;
    text-align: left;
}

.container--left {
    width: 1170px;
    margin: 0 auto;
}

.container__feature {
    width: 1024px;
    margin-left: 0;
}
.section__desc--width {
    width: 590px;
}

.feature__list {
    display: flex;
    justify-content: space-between;
    gap: 200px;
    margin-top: 80px;
}

.feature-item:first-child {
    width: 168px;
}

.feature-item:nth-child(2) {
    width: 223px;
}

.feature-item:last-child {
    width: 224px;
}

.feature-item__img {
    width: 102px;
    height: 106px;
}

.feature-item__heading {
    margin-top: 26px;
    font-size: 2rem;
    font-weight: 600;
    color: #0d1111;
}

.feature-item__desc {
    margin-top: 16px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.69;
    color: #9da6a5;
}

.feature-item__desc--short {
    width: 168px;
}

/* courses */
.courses {
    margin-top: 130px;
}

.courses-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses__desc {
    width: 525px;
    margin-top: 19px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
    color: #767e7e;
}

.courses-link {
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    color: #1ebfc1;
}

.courses__list {
    margin-top: 79px;
    display: flex;
    justify-content: space-between;
    gap: 47px;
}

.courses-item {
    position: relative;
}

.courses-item__img {
    width: 359px;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.5;
    background: #d0efed;
}

.courses-item__info {
    position: absolute;
    padding: 27px 25px 29px 25px;
    top: 322px;
    left: 17px;
    right: 17px;
    width: 325px;
    min-height: 150px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 16px 90px 0 rgba(0, 0, 0, 0.05);
}

.courses-item__heading {
    margin-top: 2px;
    font-size: 2.2rem;
    font-weight: 700;
    color: #0d1111;
}

.courses-item__desc {
    margin-top: 18px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #9da6a5;
}

.courses-item__desc:nth-child(3) {
    margin-top: 12px;
}

.courses-item__value {
    font-size: 2.2rem;
    font-weight: 700;
    color: #0d1111;
}

.courses-item__date-time {
    padding-top: 18px;
    position: relative;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.78;
    color: #9da6a5;
}

.courses-item__date-time::before {
    position: absolute;
    display: inline-block;
    left: -14px;
    top: 26px;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #1ebfc1;
}

.courses-item__date {
    display: flex;
    gap: 20px;
    padding-left: 16px;
}

/* number */
.number {
    padding-top: 265px;
    margin: 0 auto;
    width: 862px;
}

.number__body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.number-item {
    text-align: center;
}

.number__value {
    font-size: 6.2rem;
    font-weight: 700;
    color: #0d1111;
}

.number__desc {
    margin-top: 16px;
    font-size: 1.8rem;
    font-weight: 400;
    color: #767e7e;
}

/* comment */
.comment {
    margin-top: 264px;
}

.comment__box {
    display: flex;
}

.comment__content {
    margin-right: 345px;
}

.comment__quote {
    align-items: center;
}

.comment__desc {
    margin-top: 27px;
    width: 419px;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #5d6564;
}

.comment__name {
    position: relative;
    padding-left: 10px;
    margin-top: 33px;
    font-size: 1.6rem;
    font-weight: 400;
    color: #767e7e;
}

.comment__name::before {
    position: absolute;
    left: -2px;
    top: 7px;
    content: "";
    display: inline-block;
    width: 8px;
    height: 2px;
    background: #070707;
}

.comment__author {
    font-weight: 500;
    color: #070707;
}

.comment__control {
    display: flex;
    gap: 20px;
    margin-top: 52px;
    width: 130px;
    height: 50px;
}

.comment__control-wapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #2ac9bf;
}

.comment__control-icon {
    width: 6px;
    height: 12px;
    stroke-width: 2px;
    stroke: #fff;
}

.comment__images {
    position: relative;
    display: flex;
    background: wheat;
}

.comment__img {
    width: 92px;
    height: 92px;
    object-fit: cover;
    border-radius: 50%;
}

.comment__img:first-child {
    position: absolute;
    top: 0;
    right: 37px;
}

.comment__img:nth-child(2) {
    position: absolute;
    top: 10px;
    left: 314px;
}

.comment__img:nth-child(3) {
    position: absolute;
    top: 230px;
    right: 175px;
}

.comment__img:nth-child(4) {
    position: absolute;
    right: -14px;
    bottom: -62px;
}

.comment__img:nth-child(5) {
    position: absolute;
    left: 268px;
    bottom: -32px;
}

.comment__img:last-child {
    position: absolute;
    top: 84px;
    width: 235px;
    height: 235px;
}
